div#sidebar
  ul
    li
      a(href= `/lists/${inbox.id}`)=inbox.name
    each list in lists
      li.list-item
        a(href=`/lists/${list.id}`)=list.name
        div.list-button-div
          button(class='update-list-buttons' id=`update-list-${list.id}`)
            i(class="fas fa-feather")
          button(class='delete-list-buttons' id=`delete-list-${list.id}`)
            i(class="fas fa-trash-alt")
  div#add-list-div
    button#add-list-button
      i(class="fas fa-plus")

  #tasks-completed
    span Recently Completed
    ul#tasks-completed-list
        each completedTask in completedTasks
            li= completedTask.description

div#add-list-popup.popup
  +validationErrorSummary(errors)
  div.blocker-add
  div#add-content.contents
    div#error-add-div
      ul#add-error-ul
    form#add-list-form(action= "/lists" method= "post")
      +field('List Name', 'name', '')
      input(type="hidden" name="_csrf" id="addCsrf" value=csrfToken)
      button#submit-add-list(type="submit") Add
      button#cancel-add-list(type="button") Cancel

div#update-list-popup.popup
  +validationErrorSummary(errors)
  div.blocker-update
  div#update-content.contents
    div#error-div
      ul#update-error-ul
    form#update-list-form
      +field('List Name', 'name', '')
      input(type="hidden" name="_csrf" id="updateCsrf" value=csrfToken)
      button#submit-update-list(type="submit") Update
      button#cancel-update-list(type="button") Cancel
