extends layout.pug

block content

    div#side-and-list
        include lists-sidebar.pug
        #task-list-main
            #search-bar
                input(id="searchbar" type="text" name="search" placeholder="Search task")
            form.entry
                div
                    ul#add-errors-display
                div
                    input(type="text" name="description" id="new-textbox" value=description placeholder="Enter your next task!")
                div.task-options-div#add-options-div
                    label(for="dueDate") Due Date
                    input(type="date" name="dueDate" id="dueDate" value=dueDate)
                    label Estimated Time:
                    label(for="hours") Hours
                    input(type="number" name="hours" min=0 id="hours" value=hours)
                    label(for="minutes") Minutes
                    input(type="number" name="minutes" min=0 id="minutes" value=minutes)
                    select(name="importance" id="importance")
                        option(value="0") Priority
                        option(value="0") None
                        option(value="3") High
                        option(value="2") Medium
                        option(value="1") Low
                    button#new-button
                        <i class="fas fa-plus"></i>
            #task-list-display
                ul#task-list-render
                    if tasks.length
                        each task in tasks
                            div(id=`task-container-${task.id}` class="search-list-container entry")
                                div(class="pre-open")
                                    li(id=`task-list-${task.id}` class="search-list") #{task.description}
                                    div
                                        button(id=`update-${task.id}` class="update-task-btn")
                                            i(class="fas fa-feather")
                                        button(id=`delete-${task.id}` class="delete-task-btn")
                                            i(class="fas fa-trash-alt")
                                        button(id=`completed-${task.id}` class="completed-task-btn")
                                            i(class="fas fa-check")
                                div(id=`task-info-${task.id}` class="task-info-div")
                                    span #{task.estimatedTime ? task.estimatedTime : null} Minutes
                                    span #{task.importance === 1 ? 'Priority: Low' : task.importance === 2 ? "Priority: Medium" : task.importance === 3 ? "Priority: High" : null}

    script(src='/javascripts/api-task.js' type='module')
