extends layout.pug

block content

    script(src='/javascripts/api-task.js' type='module')
    include lists-sidebar.pug

    #tasks-completed
        ul#tasks-completed-list
            each completedTask in completedTasks
                li= completedTask.description


    #task-list-main
        input(id="searchbar" type="text" name="search" placeholder="Search task")
        form
            input(type="hidden" name="_csrf" value=csrfToken id="addCsrfTasks")
            div
                input(type="text" name="description" id="new-textbox" value=description)
            div
                label(for="dueDate") Due Date
                input(type="date" name="dueDate" id="dueDate" value=dueDate)
                label Estimated Time
                label(for="hours") Hours
                input(type="number" name="hours" id="hours" min=0 value=hours)
                label(for="minutes") Minutes
                input(type="number" name="minutes" id="minutes" min=0 value=minutes)
                select(name="importance" id="importance")
                    option(value="") -- Select Priority --
                    option(value="0") None
                    option(value="3") High
                    option(value="2") Medium
                    option(value="1") Low
                button#new-button Add Task
            div
                ul#add-errors-display
        #task-list-display
            ul#task-list-render
                if tasks.length
                    each task in tasks
                        div(id=`task-container-${task.id}` class="search-list-container")
                            li(id=`task-list-${task.id}` class="search-list") #{task.description}
                            button(id=`update-${task.id}` class="update-task-btn") Update
                            button(id=`delete-${task.id}` class="delete-task-btn") Delete
                            button(id=`completed-${task.id}` class="completed-task-btn") Mark Completed
                else
