extends layout.pug

block content

    div#side-and-list
        include lists-sidebar.pug
        #task-list-main
            #search-bar
                input(id="searchbar" type="text" name="search" placeholder="Search task")
            form
                div
                    input(type="text" name="description" id="new-textbox" value=description)
                div
                    label(for="dueDate") Due Date
                    input(type="date" name="dueDate" id="dueDate" value=dueDate)
                    label Estimated Time
                    label(for="hours") Hours
                    input(type="number" name="hours" min=0 id="hours" value=hours)
                    label(for="minutes") Minutes
                    input(type="number" name="minutes" min=0 id="minutes" value=minutes)
                    select(name="importance" id="importance")
                        option(value="") Priority
                        option(value="0") None
                        option(value="3") High
                        option(value="2") Medium
                        option(value="1") Low
                    button#new-button Add Task
                div
                    ul#add-errors-display
            #task-list-display
                ul#task-list-render
                    if tasks.length
                        each task in tasks
                            div(id=`task-container-${task.id}`)
                                li(id=`task-list-${task.id}`) #{task.description}
                                button(id=`update-${task.id}` class="update-task-btn") Update
                                button(id=`delete-${task.id}` class="delete-task-btn") Delete
                                button(id=`completed-${task.id}` class="completed-task-btn") Completed
                    else
                        div Get busy son.

    script(src='/javascripts/api-task.js' type='module')
